#urgente {
  color: rgb(216, 32, 32);
}

body {
  background-color: lightblue;
  background-image: url(https://media.istockphoto.com/photos/candy-background-picture-id917606744?k=20&m=917606744&s=170667a&w=0&h=6VFtEVO7j2U4C6E3pq3CNbSzubhmSkjObdpH1FxGQdE=);
  background-size: cover;
}

.intro {
  background-color: rgb(167, 158, 124);
}

.name {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.recipe-instructions {
  display: flex;
  background-color: rgba(21, 151, 184, 0.2);
}

.more-recipe {
  text-align: center;
}

.img {
  text-align: center;
}

.title {
  text-align: center;
}
